name: test

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "**.md"
jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: ["1.25.5"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.1

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: make test

      - name: Build
        run: make build
